<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 404</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="body">
      <h1 class="errorTitle">Error 404</h1>
      <h2 class="errorTitle2">Cuando tratas de ingresar</h2>
      <img src="./img/01.jpg" alt="pain01" width="600px">
      <p class="errorText">pero la ruta no existe.</p>
    </div>
  </body>
</html>
